@page
@model Group_Project.Pages.Admins.AdminDeleteModel
@{
}

<div class="container">
    <h1 class="text-center pt-2 text-secondary">ADMIN  @Model.AdminRecord.AdminUserName.ToUpper() RECORD DELETE</h1>
    <h3 class="text-center pt-2 text-danger">Are you sure want to delete @Model.AdminRecord.AdminUserName's record?</h3>

    <div class="table-active">

        <div>
            <label asp-for="AdminRecord.AdminID"></label>
            <span> : </span>
            @Model.AdminRecord.AdminID
        </div>
        <div>
            <label asp-for="AdminRecord.AdminUserName"></label>
            <span> : </span>
            @Model.AdminRecord.AdminUserName
        </div>
        <div>
            <label asp-for="AdminRecord.AdminEmail"></label>
            <span> : </span>
            @Model.AdminRecord.AdminEmail
        </div>
        <div>
            <label asp-for="AdminRecord.AdminPassword"></label>
            <span> : </span>
            @Model.AdminRecord.AdminPassword
        </div>
    </div>
    <br />
    <div>
        <form method="post">
            <input type="hidden" asp-for="AdminRecord.AdminID" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a class="btn btn-primary" asp-page="/Admins/AdminView">Cancel</a>
        </form>
    </div>

</div>